.container {
    display: flex;
    width: 1200px;
    flex-flow: row wrap;
}

.square {
    background-color: black;
    box-sizing: border-box;
    border: 1px solid green;
    min-width: 75px;
}

.scroll {
    background-color: red;
}